.header-name {
  font-size: 35px;
  font-weight: bold;
  color: white;
  display: inline-block;
  padding-right: 1070px;
}

nav {
  text-align: right;
  padding-right: 3px;
  background-color: rgb(152, 148, 103);
  margin-bottom: 100px;
}

body {
  background-color: bisque;
}

#home-title {
  font-size: 35px;
  text-align: center;
}

.index-title {
  font-size: 50px;
  text-align:left;
  
}

.intro-statement {
  font-size: 30px;
}

.index-container {
  display: flex;
}

section {
  font-size: 50px;
  margin-left: 110px;
  margin-top: 80px;
  
}

.personal-photo {
  width: 300px;
  margin-left: 70px;
}

h1 {
  text-decoration: underline;
}

.nav-button {
  color: white;
  font-size: 20px;
  padding-right: 10px;
  transition: 1.5s;
  cursor: pointer;
}

.nav-button:hover {
  color: blue;
  font-size: 23px;
  
}

.about-page {
  background-color: rgb(227, 181, 121);
  font-size: 30px;
  text-align: center;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right:100px;
}

.snowboard-container {
  display:flex;
  border:solid;
  border-radius: 3px;
  border-color: rgb(152, 148, 103);
}


.snowboard-text h1 {
  margin-left: 460px;
  margin-top: 0px;
}

.snowboard-text p {
  margin-left: 20px;
  margin-top: 50px;
  font-size: 30px;
}

.exercise-container {
  display: flex;
  background-color: rgb(227, 181, 121);
  border:solid;
  border-color: rgb(152, 148, 103);
  border-radius: 3px;
  

}

.exercise-pic {
  width: 200px;
}

.exercise-text h1 {
  margin-left: 680px;
  margin-top: 10px;
}

.exercise-text p {
  margin-left: 20px;
  margin-top: 50px;
  font-size: 30px;
}

.hiking-container {
  display: flex;
  border:solid;
  border-radius: 3px;
  border-color: rgb(152, 148, 103);
  
}

.hiking-pic {
  width: 200px;
}

.hiking-text h1 {
  margin-left: 490px;
  margin-top: 10px;
}

.hiking-text p {
  margin-left: 20px;
  margin-top: 50px;
  font-size: 30px;
}

.resume-pic, .zoo-pic, .grocery-pic {
  width: 35%;
  margin-left: 25px;
}

.resume-container {
  display: flex;
  margin-top: 30px;
}

.resume-container p {
  margin-left: 30px;
  margin-right: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  margin-top: 50px;
  font-size: 25px;
  font-family: OCR A Std, monospace;
  color: rgb(188, 112, 11);
}

.project-title {
  margin-left: 25px;
  color: rgb(70, 97, 65);
  margin-top: 70px;
}